#profile_page
  background: linear-gradient(180deg, #181818 -6.87%, #1F1E21 100%)
  padding-bottom: 200px
  position: relative

.profile_tabs_header
  display: block
  margin: 0 auto
  text-align: center

.profile_tabs_wrap
  display: grid
  grid-template-columns: 1fr 1fr 1fr
  margin: 0 auto
  width: 50%
  padding-bottom: 10px

.profile_tabs_header__line
  background: #575759
  height: 2px
  width: 50%
  margin: 0 auto
  position: relative
  overflow: hidden

.active_line
  position: absolute
  width: 33.333%
  height: 4px
  background: #fff
  transition: transform .3s ease

.active_line.left
  left: 0
.active_line.center
  transform: translateX(100%)
.active_line.right
  transform: translateX(200%)

.profile_tabs__tab
  font-size: 20px
  font-weight: 700
  color: #575759
  text-transform: uppercase
  cursor: pointer
  transition: color .1s ease
  position: relative

.profile_tabs__tab:last-child
  margin-right: 0

.profile_tabs__tab.active
  color: #fff

.profile_course_block
  padding: 44px 50px
  background: #282729
  display: flex
  flex-direction: column
  justify-content: space-between
  align-items: center
  &__title
    font-size: 20px
    font-weight: 700
    color: #fff
    text-transform: uppercase
  &_count
    text-align: center
    width: 100%
    background: #232224
    border-radius: 24px
    padding: 15px
    margin-top: 30px
    &__num
      font-size: 96px
      font-weight: 800
    &__about
      font-weight: 700
      font-size: 15px
      line-height: 130%
      text-transform: uppercase
  &_about
    margin-top: 30px
    text-align: center
    &__text
      font-size: 14px
      font-weight: 700
      line-height: 150%
    &__price
      color: #8F8E90
      font-size: 15px
      font-weight: 500
      margin-top: 5px
      line-height: 150%
  &__btn
    margin-top: 55px

.profile_course_blocks
  display: grid
  grid-template-columns: 1fr 1fr 1fr
  column-gap: 80px


.profile_course_block_count_days
  display: flex
  align-items: center
  justify-content: center
  padding-bottom: 20px
  h4
    font-size: 96px
    font-weight: 800
    margin-right: 16px
  span
    width: 20px
    height: 1px
    background: rgba(255, 255, 255, 0.1)
    transform: rotate(90deg)
    margin-right: 16px
  h6
    margin: 0
    padding: 0
    font-size: 15px
    font-weight: 700
    text-transform: uppercase

.profile_course_block_count_time
  display: flex
  align-items: center
  justify-content: center
  padding-top: 20px
  border-top: 1px solid rgba(255, 255, 255, 0.1)
  &__timer
    font-size: 32px
    font-weight: 800
    margin-right: 16px
  .line
    width: 20px
    height: 1px
    background: rgba(255, 255, 255, 0.1)
    transform: rotate(90deg)
    margin-right: 16px
  h6
    font-size: 15px
    font-weight: 700
    text-transform: uppercase
    margin: 0
    padding: 0

.profile_video
  position: relative
  margin-top: 120px
  @media screen and ( max-width: 960px )
    margin-top: 0
    

.profile_video_lessons
  margin-top: 100px
  &__title
    font-size: 36px
    font-weight: 800
  &_grid
    margin-top: 50px
    width: 100%
    display: grid
    grid-template-columns: repeat(3, 1fr)
    column-gap: 30px
    &_item
      position: relative
      width: 100%
      height: 265px
      cursor: pointer
      border: 1px solid transparent
      transition: border .3s ease
      overflow: hidden
      &__image
        position: absolute
        width: 100%
        height: 100%
        top: 0
        left: 0
        object-fit: cover
        z-index: 1
      &__title
        z-index: 2
        position: absolute
        bottom: 20px
        left: 20px
    &_item:hover
      border: 1px solid #F3D7AF

.blocked_overlay
  display: none
  position: absolute
  width: 100%
  height: 100%
  align-items: center
  justify-content: center
  z-index: 5
  &_content
    display: flex
    flex-direction: column
    align-items: center
    &__bg
      position: absolute
      width: 100%
      height: 100%
      object-fit: cover
      top: 0
      left: 0
      filter: blur(3px)

.blocked-overlay__title
  font-size: 16px
  line-height: 150%
  margin-bottom: 16px
  text-align: center
  position: relative

.profile_video_lessons_grid_item.blocked
  .blocked_overlay
    display: flex


.profile_course_block__btn
    border-radius: 18px
    height: 50px
    display: flex
    align-items: center
    justify-content: center

.live_trading__title
    text-transform: uppercase
    font-weight: 600
    font-size: 18px
    margin: 0
    padding: 0

.live_trading__about
    font-size: 15px
    font-weight: 500
    color: #8F8E90
    line-height: 1.5
    margin-top: 10px

.live_trading__current
    font-size: 14px
    font-weight: 700
    margin-top: 20px
    color: rgba(255, 255, 255, 0.3)
    span
        color: #fff

.live_trading__link
    width: 100%
    background: #2D2D2F
    border: 1px solid #575759
    border-radius: 23px
    padding: 20px 32px
    color: #fff
    line-height: 1
    transition: all .3s ease

.live_trading__link::placeholder
    color: #575759
    text-transform: uppercase
    font-size: 14px
    font-weight: 700

.live_trading_link_wrap
    margin-top: 80px

.live_trading_link__btn
    position: absolute
    display: flex
    align-items: center
    justify-content: center
    right: 0
    padding: 10px 32px
    color: #575759
    text-transform: uppercase
    font-size: 14px
    font-weight: 700
    top: 50%
    transform: translateY(-50%)
    cursor: pointer
    border-left: 1px solid #575759
    transition: all .1s ease

.live_trading_link__btn:hover
    filter: brightness(1.1)

.live_trading_link_wrap.active
    .live_trading__link
        border-color: #B2854D
    .live_trading_link__btn
        background: linear-gradient(103.31deg, #B3854D 5.67%, #F3D7AF 28.06%, #C6A47C 85.27%)
        -webkit-background-clip: text
        -webkit-text-fill-color: transparent
        background-clip: text
        text-fill-color: transparent
        border-color: #B2854D

.live_trading_link_wrap
    position: relative


.profile_video_lessons_grid_mob
    display: grid
    margin-top: 32px
    grid-template-columns: 1fr
    row-gap: 8px
    width: 100%
    display: none


.profile_video_lessons_grid_mob_item
    width: 100%
    display: flex
    align-items: center
    justify-content: space-between
    border-radius: 2px
    background: #282729
    padding: 15px
    border: 1px solid transparent
    transition: all .2s ease
    span
        font-size: 14px
        font-weight: 400
        color: #fff

.swiper-container
    display: none
    margin-top: 60px
    @media (max-width: 960px)
        display: block
    @media (max-width: 576px)
        margin-top: 24px



.swiper-pagination .swiper-pagination-bullet.swiper-pagination-bullet-active
    background: #fff!important

#beginner-page
    background: #1B1A1B
.video-pop-overlay
    position: fixed
    top: 0
    left: 0
    width: 100%
    height: 100%
    z-index: 200
    background: rgba(24, 24, 24, 0.9)
    .video-pop
        position: fixed
        left: 50%
        top: 50%
        transform: translate(-50%, -50%)
        background: #fff
        max-width: 700px
        width: 700px
        @media (max-width: 450px)
            max-width: 90%
            width: 90%
        .video-pop-close
            position: absolute
            top: -25px
            right: 0
            font-size: 25px
            cursor: pointer
            @media (max-width: 450px)
                font-size: 15px
                top: -20px
                right: 0

.beginner-header
    padding-top: 80px
    position: relative
    z-index: 10
    @media screen and ( max-width: 576px )
      padding-bottom: 0

      

.beginner-header__title
    font-size: 48px
    font-weight: 900
    color: #fff
    text-align: left
    margin-top: 162px
    text-shadow: 0px 0px 44px rgba(189, 190, 225, 0.6)
    @media screen and ( max-width: 960px )
      margin-top: 0
      

.beginner-content__title
    font-size: 14
    font-weight: 600
    padding: 8px 22px
    color: #fff
    display: inline-block
    background-color: #282729

.beginner-content
    display: grid
    width: 100%
    grid-template-columns: 1fr 522px
    column-gap: 150px
    padding-bottom: 200px
    @media (max-width: 960px)
        grid-template-columns: 100%
        row-gap: 100px
        padding-bottom: 50px
    @media screen and ( max-width: 576px )
      row-gap: 90px
      padding-bottom: 0
      

.beginner-content-helps-items
    margin-top: 12px
    @media (max-width: 960px)
        display: none

.beginner-content-helps-item
    padding: 20px 38px
    background: #282729
    transition: box-shadow .3s ease
    margin-bottom: 24px
    @media screen and ( max-width: 960px )
      padding: 58px 24px
      min-height: 250px
    @media screen and ( max-width: 576px )
      padding: 58px 24px
      min-height: 376px
      
    &__about
        color: #8F8E90
        font-size: 15px
        line-height: 150%
        font-weight: 500
        margin-top: 10px
    &__title
        font-weight: 600
        line-height: 140%
        text-transform: none
        font-size: 18px

.beginner-content-helps-item:last-child
    margin-bottom: 0

.beginner-content-steps-item-btns
    display: flex
    align-items: center
    justify-content: center
    margin-top: 20px
    @media screen and ( max-width: 576px )
      flex-direction: column
    a
      @media screen and ( max-width: 576px )
        width: 100%
    &__btn-white, &__btn-black
        padding: 12px 0
        background: #EFEFEF
        border-radius: 20px
        display: flex
        align-items: center
        justify-content: center
        width: 144px
        cursor: pointer
        @media screen and ( max-width: 576px )
          width: 100%
    &__btn-black
        background: linear-gradient(95.45deg, #3C3E40 0%, #2F3133 104.2%)
        margin-left: 30px
        @media screen and ( max-width: 576px )
          margin: 0
          margin-top: 15px

.beginner-content-steps-item
    padding: 40px 70px
    background: #282729
    margin-top: 12px
    transition: all .3s ease
    border: 1px solid transparent
    position: relative
    z-index: 10
    @media screen and ( max-width: 576px )
      padding: 24px
      
    
    &__about
        color: #8F8E90
        font-size: 15px
        line-height: 150%
        font-weight: 500
        margin-top: 10px
    &__title
        font-weight: 600
        line-height: 140%
        text-transform: none
        font-size: 18px

.beginner-content-steps-item:hover
    box-shadow: 0px 35px 33px -13px rgba(0, 0, 0, 0.4)
    border-color: #c8a882


.beginner-video-lesson
    background: #282729
    padding: 6px
    padding-left: 20px
    display: flex
    align-items: center
    justify-content: space-between
    margin-bottom: 8px
    transition: box-shadow .3s ease
    z-index: 1
    &__title
        font-size: 15px
        font-weight: 500
        line-height: 100%
    &-btn
        display: flex
        align-items: center
        justify-content: space-between
        padding: 12px
        width: 144px
        border: 1px solid #3E3D3E
        transition: all .1s ease
        border-radius: 18px
        cursor: pointer
    &-btn:hover
        border-color: #fff

.beginner-video-lesson:last-child
    margin-bottom: 0

.beginner-video-lessons
    margin-top: 46px
    position: relative
    z-index: 1

.beginner-decor-2
  position: absolute
  width: 600px
  height: auto
  bottom: 0
  right: 0
  z-index: 0
  transform: translate(20%, 40%)
  @media screen and ( max-width: 960px )
    display: none
    


.beginner-content-steps-links
    margin-top: 120px
    position: relative
    @media screen and ( max-width: 960px )
      display: none

.beginner-content-steps-links.mob
  display: none
  @media screen and ( max-width: 960px )
    display: block
  @media screen and ( max-width: 576px )
    margin-top: 100px
    
      

.beginner-content-steps-links-btn
    font-size: 16px
    font-weight: 800
    display: flex
    align-items: center
    justify-content: flex-end
    text-transform: uppercase
    margin-top: 10px
    cursor: pointer
    img
        margin-left: 15px

.steps-links__title
    background: linear-gradient(103.31deg, #B3854D 5.67%, #F3D7AF 28.06%, #C6A47C 85.27%)
    -webkit-background-clip: text
    -webkit-text-fill-color: transparent
    background-clip: text
    font-weight: 700

.beginner-content-steps-links-item
    margin-bottom: 80px
    position: relative
    z-index: 10
    @media screen and ( max-width: 768px )
      margin-bottom: 48px
      

.profile_course_block_arrow
    display: none

.profile_video_lessons_grid_mob_item.purchased
    border-color: #B2854D
    span
        background: linear-gradient(103.31deg, #B3854D 5.67%, #F3D7AF 28.06%, #C6A47C 85.27%)
        -webkit-background-clip: text
        -webkit-text-fill-color: transparent
        background-clip: text
        text-fill-color: transparent



.mobile_menu_header
  display: flex
  align-items: center
  justify-content: space-between
  position: absolute
  z-index: 10
  top: 0
  left: 0
  width: 100%
  padding: 20px 10px 10px 10px
  border-bottom: 1px solid rgba(255,255,255,0.3)
  .mobile_menu_header__logo
    width: 81px


.mob_account_wrap
  position: absolute
  bottom: 30px
  width: 100%
  padding: 2rem
  z-index: 1


.mob_account_wrap_row
  display: flex
  align-items: center
  justify-content: space-between
  margin-bottom: 15px
  span
    font-size: 18px
    font-weight: 600
    text-transform: uppercase

.mob_account_wrap_row:last-child
  margin-bottom: 0


.header_login_account
  &_menu
    text-align: center
    position: absolute
    background: linear-gradient(180deg, #3E3E41 0%, #363638 100%)
    top: 51px
    left: 0
    transform: translateX(-50%)
    display: none
  &_item:not(:last-child)
    border-bottom: 1px solid #47474A
  &_item
    width: 252px
    padding: 22px 0px
    text-transform: uppercase
    font-size: 1rem
    a
      transition: all 0.5s ease
  &_item:hover
    background-color: #2D2D31
    a
      background-image: linear-gradient(90deg, #B2854D 0%, #F3D7AF 28.13%, #C6A47C 100%)
      -webkit-background-clip: text
      -webkit-text-fill-color: transparent

.header_login_info
  display: flex
  align-items: center
  @media screen and ( max-width: 960px )
    display: none
    

.header_login_info_wallet
  display: flex
  align-items: center
  margin-right: 47px
  &__count
    padding: 4px 12px
    background: #282729
    margin-right: 12px
  &__pay
    font-size: 14px
    font-weight: 700


.header_login_account
  list-style: none
  padding: 25px 0
  position: relative
  &__title
    text-transform: uppercase
    font-size: 14px
    font-weight: 800
    display: flex
    cursor: pointer
    img
      margin-left: 7px
      transition: transform .2s ease

.header_login_account:hover
  .header_login_account_menu
    display: block


.header_login_account_item.header_logout_account a
  color: #FF4B4Bzxcv



.settings_page
  background: linear-gradient(180deg, #181818 -6.87%, #1F1E21 100%)
  padding-bottom: 200px


.settings_data_content
  width: 330px


.settings_data_header
  display: flex
  align-items: flex-start
  justify-content: space-between
  &__title
    font-size: 20px
    font-weight: 700
    text-transform: uppercase
  &__edit_data
    font-size: 14px
    text-transform: uppercase
    text-decoration: underline
    cursor: pointer


.settings_data_header_form
  margin-top: 80px
  &_input_wrap
    display: flex
    align-items: center
    margin-bottom: 30px
    position: relative
    input
      background: #2D2D2F
      border: 1px solid rgba(255, 255, 255, 0.2)
      box-sizing: border-box
      border-radius: 18px
      padding: 20px
      width: 100%
      font-size: 14px
      text-transform: uppercase
      color: #fff
    input::placeholder
      font-size: 14px
      text-transform: uppercase
    input:focus
      border-color: #fff
  &__logout
    margin-top: 120px
    font-size: 15px
    font-weight: 500
    color: #FF4B4B


.settings_saved
  display: flex
  flex-direction: column
  align-items: flex-start


.settings_data_header__edit_data.save
  margin-bottom: 20px

.beginner_content_wrap
  display: grid
  grid-template-columns: 1fr 35%
  column-gap: 150px
  @media screen and ( max-width: 576px )
    grid-template-columns: 40% 60%
    column-gap: 0
    


.beginner-content-steps
  display: flex
  flex-direction: column
  gap: 120px
  // position: relative
  @media screen and ( max-width: 576px )
    gap: 80px
    

.beginner-video-lesson
  padding: 12px 14px

.beginner-video-lesson-btn
  width: auto
  padding: 17px 37px
  font-size: 14px
  font-weight: 700
  @media screen and ( max-width: 576px )
    padding: 9px 20px
    border-radius: 6px
    border-color: #fff
  span
    @media screen and ( max-width: 576px )
      display: none
      
    
  img
    margin-right: 17px
    @media screen and ( max-width: 576px )
      margin-right: 0


.beginner-video-lesson__title
  line-height: 150%
  width: 65%
  @media screen and ( max-width: 576px )
    font-size: 14px
    font-weight: 400
    

.beginner-content-step
  position: relative
  z-index: 10

.beginner_step_decor
  position: absolute
  top: 20%
  right: 40%
  width: 300px
  height: 300px
  background: #282522
  filter: blur(100px)
  @media screen and ( max-width: 960px )
    display: none
    

.beginner_step_number
  position: absolute
  left: 0
  top: 0
  font-size: 250px
  font-weight: 800
  color: rgba(255,255,255,0.03)
  transform: translate(-65%, 20%)
  z-index: 1
  opacity: 0
  transform: opacity 1s ease-in

.beginner-content-step:hover
  .beginner_step_number
    opacity: 1



.beginner-video-lesson
  position: relative


.beginner-decor-3
  position: absolute
  left: 0
  bottom: 0
  width: 280px
  height: auto
  transform: translate(-50%, 30%)
  @media screen and ( max-width: 960px )
    display: none
    

.beginner-body
  position: relative
  @media screen and ( max-width: 576px )
    transform: translateY(-80px)
    

.decor-poligon
  position: absolute
  top: 50%
  right: 0

.decor-round
  width: 250px
  height: 250px
  background: #282522
  filter: blur(60px)
  bottom: 0
  right: 0
  position: absolute
  @media screen and ( max-width: 960px )
    display: none
    


.header__inner #toggle
  justify-self: end


.header
  z-index: 99


.beginner-content-helps
  @media screen and ( max-width: 960px )
    grid-row-start: 1
    

.header__logo-link
  width: 76px

.beginner-decor-mob-1
  display: none
  position: absolute
  top: 25%
  right: 0
  @media screen and ( max-width: 960px )
    display: block


.beginner-decor-mob-2
  display: none
  position: absolute
  top: 35%
  left: 0
  width: 100%
  @media screen and ( max-width: 960px )
    display: block

.beginner-decor-mob-3
  display: none
  position: absolute
  bottom: 0
  right: 0
  width: 50%
  @media screen and ( max-width: 960px )
    display: block


.beginner-decor-mob-4
  display: none
  position: absolute
  bottom: 25%
  left: 0
  @media screen and ( max-width: 960px )
    display: block
    

#register-form__window
  z-index: 10000
  max-width: 400px
  width: 400px


#register-form__overlay
  z-index: 10000
    


.beginner-header__title.profile
  font-size: 36px
  font-weight: 800
  box-shadow: none
  text-shadow: none
  margin-top: 0


.profile-header-content
  padding: 80px 0 120px 0
  display: flex
  align-items: center
  justify-content: space-between
  @media screen and ( max-width: 960px )
    padding: 50px 0
    

.profile-btns
  display: flex
  align-items: center
  @media screen and ( max-width: 960px )
    display: none
    


.balance-title
  font-size: 18px
  font-weight: 600
  margin-right: 24px
.balance
  display: flex
  align-items: center
  margin-right: 16px

.balance-count
  background: linear-gradient(180deg, #333336 0%, #2A2A2E 100%)
  border-radius: 2px
  display: flex
  align-items: center
  justify-content: center
  height: 48px
  width: 144px
  display: flex
  align-items: center
  justify-content: center
  border: 1px solid
  border-image: linear-gradient(103.31deg, #B3854D 5.67%, #F3D7AF 28.06%, #C6A47C 85.27%)
  border-image-slice: 1
  span
    background: linear-gradient(103.31deg, #B3854D 5.67%, #F3D7AF 28.06%, #C6A47C 85.27%)
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
    text-fill-color: transparent;
    font-size: 16px
    font-weight: 800


.profile-icon
  width: 48px
  height: 48px
  background: linear-gradient(180deg, #333336 0%, #2A2A2E 100%)
  border: 1px solid rgba(255, 255, 255, 0.3)
  display: flex
  align-items: center
  justify-content: center
  margin-right: 16px

.profile-icon:last-child
  margin-right: 0


#profile_tabs_body
  margin-top: 150px
  position: relative
  z-index: 10
  @media screen and ( max-width: 960px )
    margin-top: 0
    


.profile_course_block_about__text
  background: linear-gradient(103.31deg, #B3854D 5.67%, #F3D7AF 28.06%, #C6A47C 85.27%)
  -webkit-background-clip: text
  -webkit-text-fill-color: transparent
  background-clip: text
  text-fill-color: transparent
  font-size: 18px
  font-weight: 600


.lessons__left-bottom
  display: flex
  align-items: center
  justify-content: space-between



.lesson_btn
  padding: 36px 40px
  display: flex
  align-items: center
  justify-content: center
  transition: all .3s ease
  cursor: pointer
  @include gradientBorderElem(18px)
  
  @media screen and ( max-width: 960px )
    display: none
    
  span
    background: linear-gradient(103.31deg, #B3854D 5.67%, #F3D7AF 28.06%, #C6A47C 85.27%)
    -webkit-background-clip: text
    -webkit-text-fill-color: transparent
    background-clip: text
    text-fill-color: transparent
    font-size: 15px
    font-weight: 700

.lesson_btn:before
    @include gradientBorderBefore(18px)

.lesson_btn:hover
  filter: brightness(1.3)

.lessons__desc
  width: 80%
  @media screen and ( max-width: 960px )
    width: 100%
    
  

.lessons__desc-topic
  display: flex

.lessons__desc-topic-name
  margin-right: 10px


.block_content_icon
  position: relative



.live_trading_grid
  max-width: 790px
  margin: 0 auto


.profile-live-trading-btn
  padding: 13px 19px
  margin: 0 auto
  display: block
  margin-top: 80px
  transition: all .3s ease
  background: transparent
  cursor: pointer
  border: none

  @include gradientBorderElem(18px)
  span
    @include gradientText()
    font-size: 16px
    font-weight: 800
    text-transform: uppercase

.profile-live-trading-btn:before
  @include gradientBorderBefore(18px)


.profile-live-trading-btn:hover
  @include hoverBtn()


.profile-tabs-bg
  position: absolute
  bottom: 0
  width: 100%
  left: 0


.profile-blocks
  position: relative
  z-index: 10
  @media screen and ( max-width: 960px )
    display: none
    
  

.lessons__desc-parametres
  @media screen and ( max-width: 960px )
    flex-direction: column
    gap: 5px
    


.profile-video-item-mob-lock
  width: 28px
  height: auto


.profile_course_block.single
  display: none
  @media screen and ( max-width: 960px )
    display: flex
    

.profile_tabs_body
  margin-top: 50px

.main-triggers
  display: grid
  width: 100%
  grid-template-columns: repeat(4, 1fr)
  @media screen and ( max-width: 960px )
    grid-template-columns: 1fr 1fr
    row-gap: 60px
    

.main-trigger
  text-align: center
  span
    font-size: 16px
    display: block
    font-weight: 800
    width: 55%
    margin: 0 auto
    text-transform: uppercase
    line-height: 120%
    @include gradientText()
    @media screen and ( max-width: 960px )
      font-size: 12px
      


.main-trigger-title
  font-size: 72px
  font-weight: 800
  text-transform: uppercase
  margin-bottom: 15px
  @include gradientText()
  @media screen and ( max-width: 960px )
    font-size: 36px
    


.advantages__cards
  padding-top: 0
  margin-top: 80px
  @media screen and ( max-width: 960px )
    display: none
    
.advantages-mob
  display: none
  @media screen and ( max-width: 960px )
    display: block
    

.trigger-line
  width: 100%
  height: 1px
  background: linear-gradient(90deg, #F3D7AF 40.68%, #C6A47C 67.19%, rgba(198, 164, 124, 0) 95.23%)
  margin-bottom: 15px

.advantages__card-inner
  background: linear-gradient(180deg, #333336 0%, #212124 100%)
  border: 1px solid #4D4B4F
  border-radius: 2px



.connect-btn
  padding: 13px 44px
  background: transparent
  border: none
  margin: 0 auto
  display: block
  cursor: pointer
  margin-top: 80px
  @include gradientBorderElem(18px)
  span
    @include gradientText()

.connect-btn:hover
  @include hoverBtn()
.connect-btn:before
  @include gradientBorderBefore(18px)


.private-lines
  position: relative

.private-lines:before
  content: ''
  position: absolute
  width: 40%
  height: 1px
  background: linear-gradient(90deg, #F3D7AF 40.68%, #C6A47C 67.19%, rgba(198, 164, 124, 0) 95.23%)
  transform: rotate(180deg)
  left: 0
  top: 50%
  @media screen and ( max-width: 960px )
    width: 35%
  @media screen and ( max-width: 576px )
    width: 70px
  @media screen and ( max-width: 375px )
    width: 60px

.private-lines:after
  content: ''
  position: absolute
  width: 40%
  height: 1px
  background: linear-gradient(90deg, #F3D7AF 40.68%, #C6A47C 67.19%, rgba(198, 164, 124, 0) 95.23%)
  right: 0
  top: 50%
  @media screen and ( max-width: 960px )
    width: 35%
  @media screen and ( max-width: 576px )
    width: 70px
  @media screen and ( max-width: 375px )
    width: 60px

.advantages__card
  transition: all .3s ease
  overflow: hidden

.advantages__card:hover
  transform: translateY(-20px)
  @media screen and ( max-width: 960px )
    transform: translate(0)
    
.courses__text
  width: 350px
  margin: 0 auto

.courses__item
  min-height: 820px
  position: relative
  transition: all .3s ease
  padding-bottom: 50px
  @media screen and ( max-width: 960px )
    min-height: auto
    margin-bottom: 32px


.courses__item:hover
  background: #333336
  transition: all 0.2s ease-in
  transform: scale(1.05)
  z-index: 99
  .courses__item-link
    height: 450px
    transition: height .3s ease
    @media screen and ( max-width: 960px)
      height: auto
  @media screen and ( max-width: 960px )
    transition: scale(0)

.courses__item-link
  overflow: hidden
  position: relative
  height: 350px
  margin-bottom: 35px

.courses__item-link-img
  position: absolute
  width: 100%
  height: 450px
  top: 0
  left: 0
  object-fit: cover
    

.advantages__card-inner
  @media screen and ( max-width: 960px )
    min-height: 350px
  @media screen and ( max-width: 576px )
    min-height: 300px
    
.advantages-mob
  margin-top: 120px

.advantages-mob .swiper-container
  padding-bottom: 30px
  width: 80%
  overflow: visible

.advantages__card.swiper-slide
  transition: transform .3s ease


.advantages__card.swiper-slide.swiper-slide-active
  transform: translateY(-20px)
  

.courses__btn
  text-transform: uppercase
  font-size: 20px
  font-weight: 700
  background: linear-gradient(103.31deg, #B3854D 5.67%, #F3D7AF 28.06%, #C6A47C 85.27%)
  -webkit-background-clip: text
  -webkit-text-fill-color: transparent
  background-clip: text

.courses__btn
  @media screen and ( max-width: 960px )
    font-size: 16px

.courses__text-item
  @media screen and ( max-width: 960px )
    font-size: 14px
    line-height: 150%
    font-weight: 400


.intro
  @media screen and ( max-width: 576px )
    height: 600px


.btn_instruction
  border: 1px solid #fff
  border-radius: 18px
  font-size: 16px
  text-transform: uppercase
  padding: 13px 43px
  margin: 0 auto
  display: inline-block
  background: rgba(0, 0, 0, 0.15)

.instruction__offer
  text-align: center


.academy-line
  width: 100%
  height: 1px
  background: linear-gradient(90deg, rgba(179, 133, 77, 0) 3.68%, #F3D7AF 33.25%, #C8A57C 75.68%, rgba(198, 164, 124, 0) 95.23%)
  position: absolute
  bottom: 0

.advantages.academy-page
  position: relative

#lessons
  padding: 124px
  @media screen and ( max-width: 960px )
    padding: 0
    padding-top: 80px
    

.lessons__tabs
  display: grid
  grid-template-columns: 50% 50%
  margin-bottom: 10px

.lessons__tab
  border-radius: 0
  height: 46px

.intro__title.section-title
  line-height: 130%


.intro__video-btn
  @media screen and ( max-width: 576px )
    width: 50px
    margin: 0 auto
    margin-bottom: 120px


#register-form__window
  padding: 54px 24px


.saccess_alert_content
  text-align: center

.saccess_image
  margin: 0 auto
  margin-bottom: 25px

.btn_saccess_alert
  margin: 0 auto
  margin-top: 25px
  span
    @include gradientText()



.register-form__title
  font-size: 24px
  line-height: 130%
  width: 100%

#register-form .register-form__btn
  max-width: 100%
#register-form input
  width: 100%


.lessons__wrapper
  gap: 12px

.lessons__desc.profile
  width: 70%
  @media screen and ( max-width: 960px )
    width: 100%
    

.profile_video_lessons_grid_item.active
  border: 1px solid #F3D7AF

.buy-pop-price
  font-size: 18px
  @include gradientText()


.lesson_btn.mob-btn-buy
  display: none
  margin-top: 45px
  font-size: 15px
  @media screen and ( max-width: 960px )
    display: flex

.btn_buy_check
  margin: 0 auto
    

.profile-card-mob
  display: none
  @media screen and ( max-width: 960px )
    display: block
    