<template>
  <!-- INSTRUCTION -->
  <section class="instruction" id="instruction">
    <div class="container-1680">
      <div class="instruction__offer">
        <h2 class="instruction__title section-title">инструкция для новичка</h2>
        <p class="instruction__desc">
          Бесплатное подробное описание как начать свой путь трейдера с
          инструкцией и видео уроками
        </p>
        <nuxt-link to="/beginner" class="btn_instruction"
          ><span>Начать путь</span></nuxt-link
        >
      </div>
      <div class="instruction__text-large">bloсk13</div>
    </div>
  </section>
  <!-- //INSTRUCTION -->
</template>
<script>
export default {};
</script>